<form method="post"
      action="{{ path('comment_delete', {program: program.slug , season: season.id, episode: episode.slug, comment: comment.id}) }}"
      onsubmit="return confirm({{ 'delete.comment'|trans }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn mt-0 mx-3 mb-3">{{ 'delete'|trans }}</button>
</form>
