{% extends 'layoutEmail.html.twig' %}
{% block title %}<title>A new program has been published !</title>{% endblock %}
{% block body %}
<body>
<h1>New program {{ program.title }} created</h1>
<p>Hello, the new program {{ program.title }} has been created on Wild Series !</p>
<p>Summary : {{ program.summary }}</p>
</body>
{% endblock %}
